footer.sh__footer
    .sh__footer-wrp
        h2.sh__footer--text Made With
           

            | &nbsp;by&nbsp;

            a(href="https://bestrui.top" class="sh__footer--user")
                span BESTRUI 
                
